$color-primary: #fff;
$color-secondary: #9ba4b8;
$color-hover: #f1f4f8;
$color-background: #f9fafb;
$color-accent: #0275d8;
$color-text: #222;
$color-success: #5ab98c;
$color-warrning: #d9534f;

$header-height: 3.5rem;