.button-add {
  border: none;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background: #0275d8;
  cursor: pointer;
}

.modal-button {
  display: flex;
  align-items: center;
  font-size: 1rem;
  padding: 0 2rem;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 250ms ease-in-out;
  justify-content: center;
  background: #0275d8;
}
.modal-button i {
  margin-right: 0.5rem;
}
.modal-button:hover {
  transform: translateY(-5px);
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background-color: #f9fafb;
  color: #222;
  font-smooth: antialiased;
}

.site-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow: hidden;
}

ul,
li {
  list-style: none;
}

.header {
  position: fixed;
  width: 100%;
  background: #fff;
  height: 3.5rem;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  z-index: 991;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}
.header__title {
  font-size: 1rem;
}

.side-menu {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding: 4rem 1rem 2rem 1rem;
}
.side-menu__wrapper {
  background: #fff;
  flex: 1 1 20%;
  min-width: 16rem;
  max-width: 25rem;
  margin-top: 3.5rem;
  height: calc(100% - $header-height);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}
.side-menu__hamburger-wrapper {
  width: 3rem;
  height: 1rem;
  overflow: hidden;
  transform: translateY(-2rem);
}
.side-menu__title {
  text-transform: uppercase;
  color: #9ba4b8;
  font-size: 0.7rem;
  font-weight: 400;
  margin-left: 1rem;
  margin-bottom: 0.5rem;
}
.side-menu__links {
  width: 100%;
}

.menu-link {
  display: flex;
  height: 3rem;
  align-items: center;
  width: 100%;
  cursor: pointer;
  text-decoration: none;
  color: #222;
  padding: 0 1rem;
  transition: background 150ms ease-in-out;
}
.menu-link__icon {
  display: inline-block;
  flex-shrink: 0;
  width: 2.5rem;
  color: #9ba4b8;
  transition: color 150ms ease-in-out;
}
.menu-link:hover, .menu-link:active {
  background: #f1f4f8;
  border-radius: 5px;
}
.menu-link:hover .menu-link__icon, .menu-link:hover .menu-link__icon {
  color: #0275d8;
}

@media (max-width: 1600px) {
  .side-menu {
    padding: 3rem 0.5rem 2rem 0.5rem;
  }
  .side-menu__wrapper {
    flex-basis: auto;
  }
}
@media (max-width: 1400px) {
  .side-menu__wrapper {
    width: auto;
    z-index: 990;
    min-width: initial;
    position: fixed;
    height: calc(100vh - 3.5rem);
  }
  .side-menu__title {
    display: none;
  }

  .hamburger {
    width: 1.5rem;
    margin: 0 auto;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  .hamburger__line {
    width: 100%;
    height: 2px;
    background: #9ba4b8;
  }
  .hamburger__line::before, .hamburger__line::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: #9ba4b8;
  }
  .hamburger__line::before {
    bottom: 0;
  }
  .hamburger__line::after {
    top: 0;
  }

  .menu-link {
    display: flex;
    overflow: hidden;
    width: 3rem;
    transition: width 250ms ease-in-out;
  }
  .menu-link__text {
    height: 1rem;
    overflow: hidden;
    padding-right: 2rem;
    transform: opacity 250ms ease-in-out;
  }

  .side-menu--is-open .menu-link {
    width: 16rem;
  }
  .side-menu--is-open .menu-link__text {
    display: inline-block;
  }
}
.main {
  position: relative;
  width: 100%;
  margin-top: 3.5rem;
  height: calc(100vh - $header-height);
  flex: 1 1 80%;
}
.main__wrapper {
  width: 100%;
  height: 100%;
  padding: 4rem 5% 4rem 5%;
  overflow: auto;
}
.main__title {
  font-weight: 400;
  font-size: 2rem;
  margin-bottom: 2rem;
}

@media (max-width: 1400px) {
  .main {
    padding-left: 4rem;
    overflow: hidden;
  }
  .main__wrapper {
    min-width: initial;
    overflow: auto;
    height: calc(100vh);
    padding-bottom: 7rem;
  }
}
@media (max-width: 900px) {
  .main__wrapper {
    width: 800px;
  }
}
.select-menu__wrapper {
  width: 100%;
  position: relative;
}
.select-menu__selected {
  padding: 0.2em 1rem;
  border: 1px solid #9ba4b8;
  border-radius: 3px;
  cursor: pointer;
  background: #fff;
  display: inline-block;
}
.select-menu__options {
  position: absolute;
  transform-origin: top;
  transform: scale(1, 0);
  transition: transform 150ms ease-in-out;
  z-index: 100;
  min-width: 10rem;
  width: 80%;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}
.select-menu--is-open {
  transform: scale(1, 1);
}
.select-menu__li {
  width: 100%;
  padding: 1rem;
  cursor: pointer;
  transition: background 150ms ease-in-out;
}
.select-menu__li:hover {
  background: #f1f4f8;
}
.select-menu__li--selected {
  width: 100%;
  padding: 1rem;
  cursor: pointer;
  background: url("../../images/check-solid.svg") no-repeat right 1rem center;
  background-size: 1rem;
  transition: background-color 150ms ease-in-out;
}
.select-menu__li--selected:hover {
  background: #f1f4f8 url("../../images/check-solid.svg") no-repeat right 1rem center;
  background-size: 1rem;
}

@media (max-width: 1200px) {
  .select-menu__selected {
    font-size: 0.8rem;
    padding: 0.2rem 0.5rem;
  }
}
.customers-navbar {
  display: flex;
  justify-content: space-between;
}
.customers-navbar__form {
  position: relative;
  color: #9ba4b8;
}
.customers-navbar__input {
  border: 1px solid #9ba4b8;
  color: #9ba4b8;
  height: 100%;
  border-radius: 5px;
  padding: 0 1rem 0 2.2rem;
  width: 20%;
  min-width: 18rem;
}
.customers-navbar__input:focus {
  outline-color: #9ba4b8;
}
.customers-navbar__input::placeholder {
  color: #9ba4b8;
}
.customers-navbar__input::-webkit-input-placeholder {
  color: #9ba4b8;
}
.customers-navbar__input:-ms-input-placeholder {
  color: #9ba4b8;
}
.customers-navbar__search-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0.8rem;
}

.customers-table {
  width: 100%;
  background: #fff;
  border-collapse: collapse;
}
.customers-table__wrapper {
  margin-top: 1.5rem;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}
.customers-table__col-1 {
  width: 12.5%;
}
.customers-table__col-2 {
  width: 25%;
}
.customers-table__col-3 {
  width: 25%;
}
.customers-table__head th {
  background: #f1f4f8;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}
.customers-table__head th:first-of-type {
  border-left: 0.5rem solid #f1f4f8;
  padding-left: 1rem;
  text-align: left;
}
.customers-table__head th:last-of-type {
  border-right: 0.5rem solid #f1f4f8;
}
.customers-table__head .th-size {
  position: relative;
  z-index: 5;
}
.customers-table__head .th-size::before {
  position: absolute;
  z-index: -1;
  content: "";
  top: 0;
  width: 100%;
  height: 100%;
  right: -1rem;
  background: url("../../images/size.svg") no-repeat right center;
  background-size: 0.5rem;
}
.customers-table__body td {
  padding: 0.5rem;
  text-align: center;
}
.customers-table__body tr:first-of-type td {
  border-top: 0.8rem solid #fff;
}
.customers-table__body tr:last-of-type td {
  border-bottom: 0.8rem solid #fff;
}
.customers-table__body tr td:first-of-type {
  border-left: 0.5rem solid #fff;
}
.customers-table__body tr td:last-of-type {
  border-right: 0.5rem solid #fff;
}
.customers-table__body td:first-of-type,
.customers-table__body td:nth-of-type(2) {
  text-align: left;
}
.customers-table__body tr {
  transition: background 100ms ease-in-out;
}
.customers-table__body tr:hover {
  background: #f1f4f8;
}
.customers-table__body .th-customer-logo {
  display: inline-block;
  width: 2rem;
}
.customers-table__body .th-customer-active {
  display: inline-block;
  color: #5ab98c;
  background: rgba(90, 185, 140, 0.3);
  padding: 0.2rem 1rem;
  border-radius: 3px;
}

.logo-github {
  color: orange;
}

.logo-kia {
  color: blue;
}

.logo-brandmaster {
  color: lime;
}

.logo-audi {
  color: pink;
}

.logo-mercedes {
  color: gray;
}

.logo-bmw {
  color: aquamarine;
}

.logo-cola {
  color: red;
}

@media (max-width: 1200px) {
  .customers-table__col-2 {
    width: 30%;
  }
  .customers-table__col-3 {
    width: 20%;
  }
}
.modal {
  position: relative;
  width: 100%;
  border-radius: 5px;
  padding: 2rem;
  background: #fff;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}
.modal__wrapper {
  position: relative;
  opacity: 0;
  padding: 3rem 2rem;
  transition: opacity 250ms ease-in-out, transform 250ms ease-in-out;
  transform: translateY(-100%);
  margin: auto;
  width: 100%;
  max-width: 50rem;
}
.modal__background {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 998;
  overflow: auto;
  background: rgba(0, 0, 0, 0.75);
}
.modal--is-visible {
  transform: translateY(0);
  opacity: 1;
}
.modal__close {
  position: absolute;
  height: 1.5rem;
  right: 0;
  top: -2rem;
  font-size: 1rem;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.modal__close:hover .modal__close-btn {
  transform: rotate(180deg);
}
.modal__close-btn {
  position: relative;
  width: 2rem;
  height: 2rem;
  margin-right: 0.25rem;
  transform: rotate(0);
  transition: transform 250ms ease-in-out;
}
.modal__close-btn::after, .modal__close-btn::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.125rem;
  color: inherit;
  transform-origin: center;
  top: 1rem;
  background: #fff;
}
.modal__close-btn::before {
  transform: rotate(45deg);
}
.modal__close-btn::after {
  transform: rotate(-45deg);
}
.modal__title {
  font-weight: 400;
  font-size: 1.5rem;
}
.modal__center {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.modal-form {
  border-bottom: 1px solid #9ba4b8;
  margin-top: 2rem;
}
.modal-form__wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0.3rem 0;
}
.modal-form__text-input {
  border: 0;
  background: none;
  font-size: 1.1rem;
  height: 3rem;
  flex: 1 1 100%;
  color: #9ba4b8;
  margin-right: 0.5rem;
}
.modal-form__text-input::placeholder {
  color: #9ba4b8;
}
.modal-form__text-input::-webkit-input-placeholder {
  color: #9ba4b8;
}
.modal-form__text-input:-ms-input-placeholder {
  color: #9ba4b8;
}
.modal-form__text-input:focus {
  outline: none;
}
.modal-form__error {
  color: #d9534f;
}

@media (max-width: 768px) {
  .modal__close-text {
    display: none;
  }
  .modal__close-btn {
    margin-right: 0;
  }
}
@media (max-width: 500px) {
  .modal__wrapper {
    padding: 50px 1rem;
  }
  .modal__between {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .modal-form__wrapper {
    border-bottom: none;
    flex-direction: column;
  }
  .modal-form__text-input {
    padding: 1rem;
    border: 2px solid blue;
    margin-right: 0;
  }

  .modal-button {
    margin-top: 0.5rem;
    width: 100%;
  }
}
@media (max-width: 350px) {
  .modal {
    padding: 2rem 1rem;
  }
}
@media (min-width: 4000px) {
  body {
    font-size: 24px;
  }
}
@media (min-width: 3000px) {
  body {
    font-size: 21px;
  }
}
@media (min-width: 2000px) {
  body {
    font-size: 18px;
  }
}
@media (max-width: 1400px) {
  body {
    font-size: 14px;
  }

  .site-wrapper {
    display: block;
  }
}

/*# sourceMappingURL=style.css.map */
